<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :youtube_url %>
    <%= form.text_field :youtube_url %>
  </div>

  <%= form.fields_for :action do |action| %>
  <div class="field">
   <%= action.label :"アクションプラン" %>
    <%= action.text_field :action %>
  </div>

  <div class="field">
   <%= action.label :status %>
    <%= action.text_field :status %>
  </div>
  <%end%>

  


  <div class="field">
    <%= form.label :"この動画の簡単なまとめ" %>
    <%= form.text_area :body %>
  </div>

  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
