<p id="notice"><%= notice %></p>

<div class = "ad">
  <div class = "ad__explain">
     MakeUBetterは</br>日々
     動画や本で学んだことを</br>
     記録できるサービスです
  </div>
</div>

<div class = "mokuji">
  <div class = "mokuji__left">Posts</div>
  <div class = "mokuji_right"><%= link_to 'New Post', new_post_path %></div>
</div>

<div class = "content-big-wrapper">
    <% @posts.each do |post| %>
    <div class = "content-wrapper">
      <div class = "videoandtext">
          <div class = "video">
            <iframe class="videos"  src="https://www.youtube.com/embed/<%=post.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>
          </div>
          <div class = "text">
            <%= current_user.username%>
            <%= post.body %>
            <%= link_to 'Show', post %>
            <%= link_to 'Edit', edit_post_path(post) %>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </div>
    <% end %>
    </div>