<!DOCTYPE html>
<html>
  <head>
    <title>Sekai</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="/js/summernote.css" rel="stylesheet" type="text/css">
<script src="/js/summernote.min.js"></script>
<script src="/public/js/lang/summernote-ja-JP.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>

    <div class = "main">

        <div class = "header">

            <div class = "header__left"><%= link_to "MakeUbetter", root_path, class: "navfont" %></div>


              <div class = "header__right">

                    <ul class = "navul">
                      <li class = "navli"><%=link_to " Home",root_path, class: "navfont"%></li>
                      <% if user_signed_in? %>
                      <li class = "navli"><%= link_to "mypage", user_path(current_user.id), class: "navfont" %></li>
                      <li class = "navli"><%= link_to "log out", destroy_user_session_path, method: :delete, class: "navfont"%></li>
                      <li class = "navli"><%= link_to 'New Post', new_post_path , class: "navfont"%></li>
                      <% else %>
                      <li class = "navli"><%= link_to " sign up", new_user_registration_path, class: "navfont" %></li>
                      <li class = "navli"><%= link_to " sign in", new_user_session_path, class: "navfont"%></li>
                      <%end%>
                    </ul>

                <div id="nav-drawer">
                  <input id="nav-input" type="checkbox" class="nav-unshown">
                    <label id="nav-open" for="nav-input"><span></span></label>
                    <label class="nav-unshown" id="nav-close" for="nav-input"></label>
                        <div id="nav-content">
                          <ul class = "navul2">
                            <li class = "navli2"><%=link_to "Home",root_path, class: "navfont"%></li>
                            <% if user_signed_in? %>
                            <li class = "navli2"><%= link_to "mypage", user_path(current_user.id) , class: "navfont"%></li>
                            <li class = "navli2"><%= link_to "log out", destroy_user_session_path, method: :delete, class: "navfont"%></li>
                            <li class = "navli2"><%= link_to 'New Post', new_post_path, class: "navfont" %></li>
                            <% else %>
                            <li class = "navli2"><%= link_to " sign up", new_user_registration_path , class: "navfont"%></li>
                            <li class = "navli2"><%= link_to " sign in", new_user_session_path, class: "navfont"%></li>
                            <%end%>
                            

                          </ul>
                        </div>
                </div>
              </div>
        </div>
       <div class = "contents">
    <%= yield %>
      </div>
    
      <%# <footer>©︎2020 K.KENTA Allright Reserved.
      </footer> %>

      </div>
  </body>
</html>
